<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">Mission Petit Pont</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/referents" routerLinkActive="active">Référents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/organismes" routerLinkActive="active">Organismes</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>