<div class="card">
  <div class="card-block">
      <table class="table table-hover borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Prenom</th>
              <th>Nom</th>
              <th>Titre</th>
              <th>Telephone cellulaire</th>
              <th>Telephone bureau</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row"></th>
                <td><input [(ngModel)]="search.first_name" #firstName="ngModel" type="text" id="firstName" name="firstName"></td>
                <td><input [(ngModel)]="search.last_name" #lastName="ngModel" type="text" id="lastName" name="lastName"></td>
                <td><input [(ngModel)]="search.title" #title="ngModel" type="text" id="title" name="title"></td>
                <td><input [(ngModel)]="search.phone_c" #phoneC="ngModel" type="text" id="phoneC" name="phoneC"></td>
                <td><input [(ngModel)]="search.phone_b" #phoneB="ngModel" type="text" id="phoneB" name="phoneB"></td>
            </tr>
            <ng-template ngFor let-ref [ngForOf]="referents" let-i="index" >
            <tr *ngIf="canShow(ref)" (click)="onReferentClicked(ref)">
              <th scope="row">{{i+1}}</th>
              <td>{{ref.first_name}}</td>
              <td>{{ref.last_name}}</td>
              <td>{{ref.title}}</td>
              <td>{{ref.phone_c}}</td>
              <td>{{ref.phone_b}}</td>
            </tr>
            </ng-template>
          </tbody>
        </table>
        <div class="text-center">
            <button type="button" class="btn btn-primary m-2" (click)="onCreateReferent()" [disabled]='!canCreate()'>Create</button>
          </div>
  </div>
</div>