<div class="card">
  <div class="card-block">
    <form>
      <div class="form-group">
        <label for="FirstName">Nom Organisation</label>
        <input [(ngModel)]="org.nom" #firstName="ngModel" type="text" class="form-control" id="nom" name="nom"
        required>
      </div>
      <div class="form-group">
        <label for="LastName">No civique</label>
        <input [(ngModel)]="org.adresse.noCivique" #lastName="ngModel" type="text" class="form-control" id="noCivique" name="noCivique"
        required>
      </div>
      <div class="form-group">
        <label for="Email">Rue</label>
        <input [(ngModel)]="org.adresse.rue" #email="ngModel" type="text" class="form-control" id="rue" name="rue"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">ville</label>
          <input [(ngModel)]="org.adresse.ville" #lastName="ngModel" type="text" class="form-control" id="ville" name="ville"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">province</label>
          <input [(ngModel)]="org.adresse.province" #lastName="ngModel" type="text" class="form-control" id="province" name="province"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">code postal</label>
          <input [(ngModel)]="org.adresse.codePostal" #lastName="ngModel" type="text" class="form-control" id="codePostal" name="codePostal"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Tel. Bureau</label>
          <input [(ngModel)]="org.telephones.bureau" #lastName="ngModel" type="text" class="form-control" id="bureau" name="bureau"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Tel. télécopie</label>
          <input [(ngModel)]="org.telephones.telecopie" #lastName="ngModel" type="text" class="form-control" id="telecopie" name="telecopie"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">courriel</label>
          <input [(ngModel)]="org.courriel" #lastName="ngModel" type="email" class="form-control" id="courriel" name="courriel"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">SiteWeb</label>
          <input [(ngModel)]="org.siteWeb" #lastName="ngModel" type="text" class="form-control" id="siteWeb" name="siteWeb"
          required>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-1" (click)="onSubmit()">save</button>
        <button class="btn btn-default m-1" (click)="onReset()">reset</button>
        <button class="btn btn-default m-1" routerLink="/organismes">back</button>
      </div>
    </form>
  </div>
</div>