<div class="card">
  <div class="card-block">
    <table class="table table-hover borderless">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Nb Places</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let l of locaux; index as i" (click)="onlocalClicked(l)">
        <th scope="row">{{i+1}}</th>
        <td>{{l.nom}}</td>
        <td>{{l.nombre_de_places}}</td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <button type="button" class="btn btn-primary m-2" (click)="onCreate()" [disabled]='!canCreate()'>Create</button>
    </div>
  </div>
</div>
