<div class="card">
  <div class="card-block">
      <table class="table table-hover borderless">
          <thead>
            <tr>
              <th>#</th>
              <th>Nom</th>
              <th>Site Web</th>
              <th>Courriel</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let org of orgs; index as i" (click)="onOrgClicked(org)">
              <th scope="row">{{i+1}}</th>
              <td>{{org.nom_organisme_ref}}</td>
              <td>{{org.site_web}}</td>
              <td>{{org.courriel}}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
            <button type="button" class="btn btn-primary m-2" (click)="onCreateOrg()" [disabled]='!canCreate()'>Create</button>
          </div>
  </div>
</div>