<div class="card">
  <div class="card-block">
    <form>
      <div class="form-group">
        <label for="FirstName">Prénom</label>
        <input [(ngModel)]="ref.prenom" #firstName="ngModel" type="text" class="form-control" id="prenom" name="prenom"
        required>
      </div>
      <div class="form-group">
        <label for="LastName">Nom</label>
        <input [(ngModel)]="ref.nom" #lastName="ngModel" type="text" class="form-control" id="nom" name="nom"
        required>
      </div>
      <div class="form-group">
        <label for="Email">Courriel</label>
        <input [(ngModel)]="ref.courriel" #email="ngModel" type="email" class="form-control" id="courriel" name="courriel"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Titre</label>
          <input [(ngModel)]="ref.titre" #lastName="ngModel" type="text" class="form-control" id="titre" name="titre"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Téléphone Cellulaire</label>
          <input [(ngModel)]="ref.telephones.cellulaire" #lastName="ngModel" type="text" class="form-control" id="cellulaire" name="cellulaire"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Téléphone Bureau</label>
          <input [(ngModel)]="ref.telephones.bureau" #lastName="ngModel" type="text" class="form-control" id="bureau" name="bureau"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Fax</label>
          <input [(ngModel)]="ref.fax" #lastName="ngModel" type="text" class="form-control" id="fax" name="fax"
          required>
        </div>
        <div class="form-group">
          <label for="LastName">Type Rapport (0: fax, 1: courriel, 2: papier)</label>
          <input [(ngModel)]="ref.rapport" #lastName="ngModel" type="text" class="form-control" id="rapport" name="rapport"
          required>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-1" (click)="onSubmit()">save</button>
        <button class="btn btn-default m-1" (click)="onReset()">reset</button>
        <button class="btn btn-default m-1" routerLink="/referents">back</button>
      </div>
    </form>
  </div>
</div>